html, body{
	font-family: 'Source Sans Pro', sans-serif !important;
	background:url('../img/bg.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
 	-moz-background-size: cover;
	-o-background-size: cover;
  background-size: cover;
}
.ko-logo {
	margin:20px auto 0 auto;
	padding:10px 0;
}
.ko-header {
	background: url('') no-repeat center center fixed;
	-webkit-background-size: cover;
 	-moz-background-size: cover;
	-o-background-size: cover;
  background-size: cover;
}
.ko-content {
	background:#fff;
	padding: 20px 0;
}
